<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
 <meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name='robots' content='max-image-preview:large' />
<meta name="title" content="">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-control" content="public, max-age=604800, immutable;">
<meta name="language" content="English">
<meta name="revisit-after" content="7 days">

<title>Testing page styles</title>


</head>

<body>

</body>


{% block content %}{% endblock %}



<footer>

</footer>